In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [18]:
path = 'C:\dev\python\Problem #1.csv'

In [19]:
df = pd.read_csv(path, header=None)

In [20]:
# show the first 5 rows using dataframe.head() method
print("The first 5 rows of the dataframe") 
df.head(5)

The first 5 rows of the dataframe

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,User_ID,Status of existing checking account,Duration in month,Credit history,Purpose,Credit amount,Savings account/bonds,Present employment since,Installment rate in percentage of disposable i...,Personal status and sex,...,Property,Age in years,Other installment plans,Housing,Number of existing credits at this bank,Job,Number of people being liable to provide maint...,Telephone,foreign worker,Default
1,43800,A11,6,A34,A43,1169,A65,A75,4,A93,...,A121,67,A143,A152,2,A173,1,A192,A201,0
2,43801,A12,48,A32,A43,5951,A61,A73,2,A92,...,A121,22,A143,A152,1,A173,1,A191,A201,1
3,43802,A14,12,A34,A46,2096,A61,A74,2,A93,...,A121,49,A143,A152,1,A172,2,A191,A201,0
4,43803,A11,42,A32,A42,7882,A61,A74,2,A93,...,A122,45,A143,A153,1,A173,2,A191,A201,0

In [21]:
df.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
            19, 20, 21],
           dtype='int64')

In [22]:
#Map the credit history
credit_mapping = {'A34': 0, 'A33': 1, 'A32': 2, 'A31': 3, 'A30': 4}
df[3] = df[3].map(credit_mapping)

In [29]:
#define feature sets, X:
X = df[[3]].values
df = df.dropna() #Drop the Nan value
X[0:5]

array([[0.],
       [2.],
       [0.],
       [2.],
       [1.]])

In [30]:
#define lable, Y:
y = df[21].values
y[0:5]

array(['0', '1', '0', '0', '1'], dtype=object)

In [31]:
### Normalize Data
X = preprocessing.StandardScaler().fit(X).transform(X.astype(float)) 
X[0:5]

array([[-1.34401408],
       [ 0.50342796],
       [-1.34401408],
       [ 0.50342796],
       [-0.42029306]])

In [32]:
#Train Test Split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (800, 1) (800,)
Test set: (200, 1) (200,)

In [33]:
## I used the KNN for clasification
from sklearn.neighbors import KNeighborsClassifier

In [34]:
#Training
k = 4
#Train Model and Predict  
neigh = KNeighborsClassifier(n_neighbors = k).fit(X_train,y_train)

In [35]:
#Predict
yhat = neigh.predict(X_test)
yhat[0:5]

array(['1', '1', '1', '0', '1'], dtype=object)

In [36]:
### Accuracy evaluation
from sklearn import metrics
print("Train set Accuracy: ", metrics.accuracy_score(y_train, neigh.predict(X_train)))
print("Test set Accuracy: ", metrics.accuracy_score(y_test, yhat))

Train set Accuracy:  0.50375
Test set Accuracy:  0.52